/* Global */ 
* {
    max-width: 100vw;
}

/* Body Background color */ 
body {
    background-color: #1f2328;
}

/* NavBar Styling */
.navbar .navbar-brand{
    color: white;
   }

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 80px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

/* Map Styling */
#map {
    height: 600px;
    width: auto;
    border: .5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: gray;
  }

/* Card Styling */
.card {
    background-attachment: #1F1B24;
    border: .5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Card background color*/
.bg-custom-1 {
    background-color:#24292E;
} 

/* Card Text Color */
.card-text {
    color: white;
}

    