/* Global */ 
* {
    max-width: 99vw;
}
*:focus {
    outline: none;
}

/* Body Background color */ 
body {
    background-color: #1f2328;
}

/* NavBar Styling */
.navbar .navbar-brand{
    color: white;
   }

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 80px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

/* Map Styling */
#map {
    height: 600px;
    width: auto;
    border: .5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: gray;
  }

/* Card Styling */
.card {
    background-attachment: #1F1B24;
    border: .5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Card background color*/
.bg-custom-1 {
    background-color:#24292E;
} 

/* Card Text Color */
.card-text {
    color: white;
}

/* David's CSS */ 
/* .hidden hides a MapBox component that
    cannot be removed without breaking map */ 
.hidden {
    display: none;
}

/* Stats Cards, dynamic fill - New  */ 
.squeeze {
    max-width: 90%;
    margin: 0 auto;
}

/* For dynamically created stats */ 
.cards-p{
    font-weight: 500;
    text-align: center;
    margin-top: -8px;
}

/* News & Testing Section */ 
#news-list li, #test-list li, #more-list li {
    list-style: none;
    padding-bottom: 10px;
    color: white;
}

#news-list a, #more-list a {
    color: #ffffff;
    font-weight: 500;
}

/* News & Testing Titles, Show More Buttons, Additional Resources*/ 
#news, #local-testing, #more-tests, 
#more-news, #more-resources {
    margin-left: 40px;
}

#news, #local-testing, #more-resources {
    font-weight: 500;
}

/* Dislaying userState, which is toLowerCase() by default */ 
#your-state {
    text-transform: capitalize;
}

/* .hide & button text toggled dynamically in js */ 
.hide {
    height: 265px;
    overflow: hidden;
}