/* Global */ 
* {
    max-width: 100vw;
}

/* Body Background color */ 
body {
    background-color: #1f2328;
}

/* NavBar Styling */
.navbar .navbar-brand{
    color: white;
   }

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 80px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

/* Map Styling */
#map {
    height: 600px;
    width: auto;
    border: .5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: gray;
  }

/* Card Styling */
.card {
    background-attachment: #1F1B24;
    border: .5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Card background color*/
.bg-custom-1 {
    background-color:#24292E;
} 

/* Card Text Color */
.card-text {
    color: white;
}

/* Davids CSS */ 

/* News & Testing Section */ 
#news-list li, #test-list li {
    list-style: none;
    padding-bottom: 10px;
    color: white;
}

#news-list a {
    color: #ffffff;
    font-weight: 500;
}

/* Show More Buttons */ 
#more-tests, #more-news {
    margin-left: 40px;
}

/* .hide & button text toggled dynamically in js */ 
.hide {
    height: 255px;
    overflow: hidden;
}
    